body {
  width: auto;
  margin: 0px;
  padding: 0px;
}

.container {
  background-color: rgba(41, 56, 48, 0.719);
  overflow: auto;
  /* border: 2px solid red; */
  height: auto;
}

.page {
  color: antiquewhite;
  font-size: 20px;
  margin-top: 25px;
  margin-left: 20px;
  float: left;
}

.container ul {
  margin-top: 0%;
  list-style-type: none;
  margin-left: 250px;
}

.container ul li {
  font-size: 20px;
  font-weight: bolder;
  float: left;
  margin: 25px;
}

a {
  color: antiquewhite;
  padding: 0px;
  text-decoration: none;
  letter-spacing: 2PX;
}

.container ul li a:hover {
  color: aqua;
}

.search {
  text-align: center;
  font-size: 15px;
  color: black;
  background-color: rgba(232, 229, 235, 0.849);
  margin-top: 10px;
  float: right;
  margin-right: 30px;
  border-radius: 30px;
}

/* AFTER THIS ALL STYLIING FOR SIDE MAUN  */

.side-manu {
  /* left: 0px; */
  /* margin: 0px; */
  /* padding: 0px; */
  width: 240px;
  height: 100%;
  position: fixed;
  overflow-y: scroll;
  overflow-x: hidden;
  text-decoration: none;
  box-sizing: border-box;
  background-color: darkgoldenrod;
  background: rgb(34, 42, 56);
}

.text {
  color: black;
  font-size: 25px;
  font-weight: 800;
  text-align: center;
  line-height: 40px;
  background: rgb(26, 103, 170);
  letter-spacing: 5px;
}

.topic ul {
  padding: 0px;
  margin: 0px;
  width: 100;
  height: 100%;
  list-style-type: none;
}

.topic ul li {
  margin: 15px 0px;
  padding: 2px 1px 1px 10px;
  line-height: 25px;
  font-size: 18px;
  /* border: 3px solid greenyellow; */
}

.topic ul li a {
  display: block;
  margin: 10px;
  line-height: 20px;
  color: whitesmoke;
  padding-left: 15px;
  border-left: 5px solid transparent;
}

.topic ul li a:hover {
  color: aqua;
  /* background-color: cadetblue; */
  border-left-color: tomato;
}